* {
  box-sizing: border-box;
  &:active,
  &:hover,
  &:focus {
    outline: 0;
  }
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  // background-color: rgba($c-cedar-bleached, 0.7);
  // background-color: $c-cedar-bleached;
  // background: linear-gradient(to bottom, #b290ff, #2e1d65);
  // background-size: cover;
  font-family: $main-font;
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 25px 0;
  // background: linear-gradient(to bottom, #b290ff, #2e1d65);
  // background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $c-white;
}
