* {
  box-sizing: border-box;
  &:active,
  &:hover,
  &:focus {
    outline: 0;
  }
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  // background-color: rgba($c-cedar-bleached, 0.7);
  // background-color: $c-cedar-bleached;
  // background: linear-gradient(to bottom, #b290ff, #2e1d65);
  // background-size: cover;
  font-family: $main-font;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

button {
  &:focus,
  &:active {
    outline: none;
  }
}

a,
button {
  &[disabled] {
    opacity: 0.5;
  }
}

.main-container {
  padding: 25px 0;
  // background: linear-gradient(to bottom, #b290ff, #2e1d65);
  // background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.btn {
  cursor: pointer;
  text-align: center;
  padding: 8px 32px;
  border: 0;
  // border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  // border-radius: 25px;
  border-radius: 6px;
  transition: 200ms linear;
  transition-property: color, background-color;
  &--gradient {
    color: $c-white;
    background: linear-gradient(to bottom, $c-violet-vivid 0%, #9c3db1 34%, #ba3fc4 65%, #c340ca 100%);
    // &:hover {
    //   color: $c-violet-vivid;
    //   background: $c-white;
    // }
  }
  &--gmail {
    color: $c-white;
    background-color: $c-google;
    &:hover {
      color: $c-google;
      background-color: $c-white;
    }
  }
  &--main {
    padding: 6px 30px;
    color: $c-white;
    background-color: $c-amaranth;
    border: 2px solid $c-amaranth;
    &:hover {
      color: $c-amaranth;
      background-color: transparent;
    }
  }
  // simple link
  &-link {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    &--light {
      color: $c-white;
    }
    &--dark {
      color: $c-cedar-bleached;
    }
    &:focus {
      outline: none;
    }
  }
}

.form {
  &--auth {
    display: flex;
    flex-direction: column;
  }
  &__field {
    padding: 8px 20px;
    border: 0;
    outline: 0;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 6px;
    // background-color: rgba($c-white, 0.6);
    transition: 300ms ease;
    transition-property: background-color;
    // &:focus,
    // &:active {
    //   background-color: $c-white;
    // }
  }
  &__submit {
    align-self: flex-start;
    border-radius: 6px;
    &--login {
      min-width: 205px;
    }
  }
}

.socials {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  &--auth {
    margin-top: 20px;
    flex-direction: column;
  }
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $c-white;
}


@media screen and (max-width: 576px) {
  .socials {
    &__item {
      .btn {
        width: 100%;
      }
    }
  }
  .form {
    &__submit {
      width: 100%;
    }
  }
}