* {
  box-sizing: border-box;
  &:active,
  &:hover,
  &:focus {
    outline: 0;
  }
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.no-scroll {
  overflow: hidden;
}

.cdk-overlay-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $c-lightgrey;
  z-index: 40;
}

.mat-snack-bar-handset .mat-snack-bar-container {
  width: auto !important;
}

body {
  font-family: $main-font;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: $c-cedar-bleached;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

button {
  &:focus,
  &:active {
    outline: none;
  }
}

a,
button {
  &[disabled] {
    opacity: 0.5;
  }
}

.main-container {
  min-height: calc(100vh - 148px);
  margin-top: 74px;
  padding: 25px 0;
  background-color: $c-white;
}


.socials {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  &--auth {
    margin-top: 20px;
    flex-direction: column;
  }
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $c-white;
}


@media screen and (max-width: 576px) {
  .socials {
    &__item {
      .btn {
        width: 100%;
      }
    }
  }
  .form {
    &__submit {
      width: 100%;
    }
  }
}