$main-font: 'Poppins', sans-serif;

$c-cedar-bleached: #1b131f;
$c-bombay: #b6b7b9;
$c-violet-vivid: #963dad;
$c-white: #fff;
$c-black: #000;

// $color-background: $c-cedar-bleached;
// $color-text: $c-bombay;

// Button
// background: linear-gradient(to bottom, #963dad 0%,#9c3db1 34%,#ba3fc4 65%,#c340ca 100%);
