$main-font: 'Poppins', sans-serif;

$c-cedar-bleached: #1b131f;
$c-clay-ebony:     #27343e;
$c-bombay:         #b6b7b9;
$c-violet-vivid:   #963dad;
$c-gore-port:      #2b244d;
$c-white:          #fff;
$c-black:          #000;
$c-green:          #008000;

// $color-background: $c-cedar-bleached;
// $color-text: $c-bombay;
