<form class="form form--auth" [formGroup]="signinForm" (ngSubmit)="onSubmitForm()">
  <input 
    type="email" 
    class="form__field"
    placeholder="Email"
    formControlName="email">
  <input 
    type="password" 
    class="form__field" 
    placeholder="Password"
    formControlName="password">
  <button 
    type="submit" 
    class="form__submit form__submit--login btn btn--gradient"
    [disabled]="!signinForm.valid">Login with Email</button>
</form>

<ul class="socials socials--auth">
  <li class="socials__item">
    <button type="button" class="btn btn--gmail" (click)="signinWithGoogle()">Login with Google</button>
  </li>
</ul>