<div class="movie">
  <div class="movie__poster">
    <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }}">
    <div class="movie__rating">{{ movie.vote_average }}</div>
  </div>
  <div class="movie__heading">
    <h3 class="movie__title">{{ movie.title }}</h3>
    <div class="movie__date">{{ movie.release_date | date: 'mediumDate' }}</div>
  </div>
  <div class="movie__detail">
    <a [routerLink]="['/movies', 'detailed', movie.id]" class="btn btn--main">View Details</a>
  </div>
</div>