@import '../../../assets/styles/core/variables';

.auth {
  display: flex;
  height: 100vh;
  &__banner {
    padding: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $c-violet-vivid;
  }
  &__title {
    width: 100%;
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.15;
  }
  &__description {
    width: 100%;
    margin-bottom: 50px;
    color: $c-white;
    font-size: 18px;
  }
  &__form {
    padding: 50px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c-clay-ebony;
  }
  &__navigation {
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    &-item {
      &:not(:last-of-type) {
        margin-right: 20px;
      }
      a {
        opacity: .7;
        transition: 300ms ease;
        transition-property: opacity;
        &:hover {
          color: $c-white;
        }
        &:hover,
        &.active {
          opacity: 1;
        }
      }
    }
  }
}

.form {
  &-wrapper {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 500px;
  }
}

@media screen and (max-width: 991px) {
  .auth {
    &__banner,
    &__form {
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .auth {
    &__banner {
      display: none;
    }
    &__form {
      width: 100%;
      padding: 30px;
    }
  }
}