<div class="auth">
  <div class="auth__banner">
    <h2 class="auth__title">Get more things done with Loggin platform</h2>
    <div class="auth__description">Access to the most powerfull tool in Movies Industry</div>
    <img class="auth__image" src="../../../assets/images/auth_banner.svg" alt="auth_banner">
  </div>
  <div class="auth__form form">
    <div class="form__content">
      <ul class="auth__navigation">
        <li class="auth__navigation-item">
          <button 
            class="btn-link btn-link--light" 
            [routerLink]="['login']" 
            routerLinkActive="active">
            Login
          </button>
        </li>
        <li class="auth__navigation-item">
          <button 
            class="btn-link btn-link--light" 
            [routerLink]="['register']" 
            routerLinkActive="active">
            Register
          </button>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

