.form {
  &--auth {
    display: flex;
    flex-direction: column;
  }
  &__row {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
  &__message {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    padding: 10px 15px;
    line-height: 1.25;
    color: $c-white;
    border-radius: 6px;
    z-index: 1;
    &:before {
      position: absolute;
      top: -30px;
      left: 20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px;
      content: '';
    }
    &--danger {
      background-color: $c-red;
      &::before {
        border-color: transparent transparent $c-red transparent;
      }
    }
  }
  &__field {
    padding: 8px 20px;
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    border-radius: 6px;
    // background-color: rgba($c-white, 0.6);
    transition: 300ms ease;
    transition-property: background-color;
    // &:focus,
    // &:active {
    //   background-color: $c-white;
    // }
  }
  &__submit {
    align-self: flex-start;
    border-radius: 6px;
    &--login {
      min-width: 205px;
    }
  }
}